body {
  color: #2d3c49;
  font-family: "Oswald";
}

/***************************Header*************************/

/*xxs-logo*/
.visible-xxs {
  display: none !important;
}

#logo-xs-container .img-responsive {
  margin: 20px auto 0;
}

#logo-xs {
  height: 300px;
} /*xxs-logo*/

#logo {
  height: 120px;
  width: 120px;
  margin-top: 15px;
}

#header-titles {
  text-align: right;
}

#title {
  font-size: 4em;
}

#subtitle {
  font-size: 1.5em;
}

/***************************Main*************************/

main {
  display: block; /*Support for lame broswers*/
}

.container .jumbotron {
  background: url('../img/main.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 1px 5px 1px #2d3c49;
  margin-bottom: 60px;
  padding: 0;
}

#body-heading {
  font-size: 3em;
  margin-bottom: 20px;
}

.tiles-container {
  margin-bottom: 60px;
  text-align: center;
}

.tiles-container a {
  color: inherit;
}

.tiles-container a:hover {
  color: #eab54c;
  text-decoration: none;
}

.tiles-container a:hover .tiles {
  box-shadow: 0 1px 10px 3px #eab54c;
}

.tiles-container a:active .tiles {
  position: relative;
  top: 5px;
}

.tiles {
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 1px 5px 1px #2d3c49;
  border-radius: 5px;
}

#buttercup {
  background-image: url("../img/buttercup.png");
}

#bubbles{
  background-image: url("../img/bubbles.jpg");
}

#blossom {
  background-image: url("../img/blossom.gif");
}

.tiles-container h3 {
  margin-top: 15px;
}

/***************************Footer*************************/

footer {
  background-color: #eab54c;
  height: 80px;
  text-align: center;
}

footer p {
  padding-top: 20px;
}

footer a {
  color: #ffffff;
}

footer a:active {
  color: #007bbb;
}

/***************************Media Queries*************************/

@media (min-width: 1200px) { /*********Big********/
  .jumbotron {
    height: 650px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) { /*********Medium********/
  .jumbotron {
    height: 550px;
  }
}

@media (min-width: 767px) and (max-width: 991px) { /*********Small********/
  .jumbotron {
    height: 450px;
  }
}

@media (max-width: 767px) { /*********Ex Small********/
  .jumbotron {
    height: 320px;
  }

  #title {
    font-size: 3.5em;
  }
}

@media (max-width: 550px) { /*********Extra Ex Small********/
  .jumbotron {
    height: 280px;
  }

  #header-titles {
    text-align: center;
  }

  #title {
    font-size: 11vw;
  }

  #subtitle {
    font-size: 6vw;
  }

  #body-heading {
    font-size: 10vw;
  }

  .hidden-xxs {
    display: none !important;
  }

  .visible-xxs {
    display: block !important;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
